@{
    ViewData["Title"] = "Bienvenidos!";
}

<h1>
    Bienvenido a la pagina de gestion de citas online
</h1>
<form method="post">
    @*<input type="email" name="email" placeholder="Ingrese su email" />*@
    <input type="email" name="email" placeholder="Ingrese su email" />

    <input type="submit" value="Ingresar" />
</form>